body {
	padding: 0;
	margin: 0;
}

header {
	background: linear-gradient(to right, #ff99cc, #00CCff);
	height: 4rem;
	width: 100%;
	margin: 0;
	box-shadow: 0 10px 5px #f0f0f0;
	transition: all 0.1s ease;
}

header h1 {
	line-height: 4rem;
	margin: 0;
	color: #ffffff;
	text-indent: 1rem;
	float: left;
}

header #header-a-containor {
	margin-right: 2rem;
	height: 2.4rem;
	margin-top: calc(2rem - 1.2rem);
	float: right;
	text-align: center;
	line-height: 2.4rem;
	border: 2px dashed #ff99cc;
	border-radius: 1rem;
	font-size: 1rem;
	transition:
			border 0.2s cubic-bezier(.4, 2, .3, 1),
			font-size 0.2s cubic-bezier(.4, 2, .3, 1),
			margin-right 0.2s cubic-bezier(.4, 2, .3, 1),
			top 0.2s cubic-bezier(.4, 2, .3, 1);
}

header a:link, header a:visited {
	color: white;
	text-decoration: none;
}

header #header-a-containor:hover {
	border: 2px solid #ff99cc;
	font-size: 1.2rem;
}

