*{
    padding: 0;
    margin: 0; 
}
h1{
    color: white;
}

header{
    background:linear-gradient(to right,#ff99cc,#00CCff);
    height: 60px;
    width: 100%;
    box-shadow: 0 10px 5px #f0f0f0;
    transition: all 0.1s ease;
}

header a{ 
    border: 2px dashed #ff99cc;
    padding: 5px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    position: absolute;
    right: 30px;
    top: 13px;
    line-height: 20px;
    transition: 
        border 0.2s cubic-bezier(.4,2,.3,1),
        font-size 0.2s cubic-bezier(.4,2,.3,1),
        right 0.2s cubic-bezier(.4,2,.3,1),
        top 0.2s cubic-bezier(.4,2,.3,1);
}

header a:hover{
    border: 2px solid #ff99cc;
    color: white;
    font-size: 19px;
    text-decoration:none;
    position: absolute;
    right: 26px;
    top: 12px;
    line-height: 20px;
}

header h1{
    position: absolute;
    left: 18px;
    top: 0;
    line-height: 60px;
}

main{
    transition: all 0.1s ease;
    border:none;
    background-color: #f9f9f9;
}

main a{
    color: white;
    text-decoration: none;

}

main a:hover{
    text-decoration: underline;
}

.cardbutton{
    position: absolute;
    right: 50px;
    background-color: #868686;
}

.img1 {
    width: 200px;
    height: 0%;
    margin-left: 25vw;
    margin-top: 10vh;
}

.intro{  
    left: 6vw;
    width: 38vw;
    height: 600px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-content: 30px;
    justify-content: 30px;
    font-size: 20px; 
    background-color:white;
    border-radius: 15px;
    position: absolute;
    box-shadow: 5px 5px 3px #f0f0f0,
    -5px 5px 3px #f0f0f0;
    padding: 10px 15px;
}

.me{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 15px;
}

.me .image {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 20px;
}

.me .text {
    flex: 1;
}

.intro h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 16px;
    line-height: 28px;
}

.fwmm{
    text-decoration: line-through;
    color: #868686;
}

.server{
margin-top: 20px;
border-left: 5px solid #66cccc;
padding-left: 15px;
margin-left: 10px;
border-radius: 5px;
}

.server ul{
    font-size: 16px;
    padding: 10px 15px;
}

.hr1{
    height: 1px;
    margin: 20px 0;
    border: 0;
    background-color: #cdcdcd;
}

.slogen{
    color: #868686;
    text-align: center;
}

.button{
    align-items: center;
    justify-content: space-between;
    display:flex;
    margin-top: auto; 
    gap: 20px;
}

.button a{
    color: white;
}

.button .bili{
    display: inline-block;
    margin-top: 10px;
    width: 18vw;
    border-radius: 12px;
    background: #ff99cc;
    border: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(.4,2,.3,1);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: 165px;
    flex: 1 1 0;
    margin-top: 0;
    line-height: 50px;
    font-size: 30px;
}

.button .bili:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.18);
}

.button .github{
    display: inline-block;
    margin-top: 10px;
    width: 18vw;
    height: 24vh;
    border-radius: 12px;
    background: #66cccc;
    border: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(.4,2,.3,1);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: 165px; 
    flex: 1 1 0;
    margin-top: 0;
    line-height: 50px;
    font-size: 30px;
}

.button .github:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.18);
}

    /* 响应式设计 */

    

    @media (max-width: 1000px) {

     header{
         font-size: 10px;
     }

     .anniu{
       display:none
     }

     .intro{  
     width: 80vw;
     }
     
     .button .bili{
        width: 38vw;
     }

     .button .github{
        width: 38vw;
     }

    }

    @media (max-width: 570px) {
    header h1 {
       display: none;
    }
    header::after {
       content: "💫KirariNeko✨";
       color: white;
       position: absolute;
       left: 18px;
       top: 0;
       line-height: 60px;
       font-size: 24px;
       font-weight: bold;
       
    }

    .button .bili{
        font-size: 25px;
    }

    .button .bili p{
        font-size: 14px;
    }

     .button .github{
        font-size: 25px;
    }

    .button .github p{
        font-size: 14px;
    }

    .intro{
        height: 640px;
    }

    .me .text{
        font-size: 17px;
    }

    .me .text p {
        font-size: 14px;
    }
}